server:
  Port: :5000
  Mode: Development

logger:
  Development: true
  DisableCaller: false
  DisableStacktrace: false
  Encoding: json
  Level: info

mysql:
  WriterDataSource: backendtest:backendtest@tcp(127.0.0.1:3306)/backendtest
  ReaderDataSources:
    - backendtest:backendtest@tcp(127.0.0.1:3306)/backendtest

